[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
jupyterlab = "*"
jupyter-black = "*"
apache-sedona = {extras = ["spark"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
